body {
  color: #EADDCA;
  font-family: monospace;
  font-size: 110%;
  text-align: center;
  background-color: #000000;
  padding-left: 25%;
  padding-right: 25%;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  display: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
  color: #D2B48C;
}

a:visited {
  text-decoration: none;
  color: #C19A6B;
}

a:hover {
  text-decoration: none;
  color: #967969;
}

a:active {
  text-decoration: none;
  color: #6F4E37;
}

br#big {
  content: "";
  margin: 50em;
  display: block;
}
